body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-family: Consolas,monospace;
    background-color: black;
}
#info {
    width: 600px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0;
}
p {
    margin: 0;
}
button {
    height: 30px;
    width: 70px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#mementos-info {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="number"]{
    width: 50px;
    text-align: center;
}
#buttons{
    width: 600px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
#buttons > * {
    margin-right: 8px;
}
p:before{
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
#infected:before, #time:before {
    display: none;
}
#withSymptoms:before {
    background: red;
}
#withoutSymptoms:before {
    background: yellow;
}
#healthy:before {
    background: black;
}
#resistant:before {
    background: blue;
}
#vulnerable:before {
    background: blue;
}